@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@{
    if (Model?.Any() != true) { return; }

    var index = 0;
}
	   
			
<div class="pgs-accordion pgs-pricing ps-0 ps-lg-5 mt-5 mt-lg-0">
      	
    @foreach (var block in Model)
    {
        if (block?.ContentUdi == null) { continue; }
        var data = block.Content;


        var isActive = index == 0; // ✅ أول عنصر بس هو اللي بياخد is-active

        @await Html.PartialAsync("blocklist/Components/" + data.ContentType.Alias, block, new ViewDataDictionary(ViewData) { { "IsActive", isActive } })

        index++;
    }
		
</div>	
		